@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:wght@300;400;500;600;700;800&family=Pangolin&family=Patrick+Hand&display=swap');

@import url('http://fonts.cdnfonts.com/css/western-swagger');

$deep-dark-pink: #611b4b;
$dark-pink: #631b4b;
$blue: #0081a3;
$tew-blue:#0088a4;
$purple:#6c5da5;
$light-dark: #434343;
$white: #fff;
$light-grey:#e5e5e5