@import url(c:\Users\Habeeb\Desktop\Task\homeinstead\font\font.css);
@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Open+Sans:wght@300;400;500;600;700;800&family=Pangolin&family=Patrick+Hand&display=swap");
@import url("http://fonts.cdnfonts.com/css/western-swagger");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  /* The dots/bullets/indicators */
}

body .sidebar {
  background-color: white;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  left: -100vw;
  z-index: 9999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media screen and (max-width: 1200px) and (max-width: 1200px) {
  body .sidebar.Nav {
    left: 0;
  }
}

body .sidebar .menu-text {
  position: relative;
}

body .sidebar .menu-text p {
  color: #848282;
}

body .sidebar .menu-text .close-btn {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 1.2rem;
}

body .sidebar .list-wrapper {
  background-color: #efeaea;
}

body .sidebar .list-wrapper .lists {
  list-style-type: none;
}

body .sidebar .list-wrapper .lists .list-item {
  background-color: #fff;
  padding: 15px 10px;
  margin: 1px 3px;
  position: relative;
}

body .sidebar .list-wrapper .lists .list-item span {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: whitesmoke;
  text-align: center;
  display: block;
  padding: 15px 10px;
  font-weight: 200;
  font-size: 20px;
}

body .sidebar .list-wrapper .lists .list-item a {
  color: #848282;
  text-decoration: none;
}

body .main-wrapper {
  background: url("https://www.homeinstead.com/siteassets/corporate/cost-of-care/home-instead-caregiver-and-senior-man-prepare-healthy-meal-together-in-kitchen.jpg") no-repeat #3b3b3b;
  background-blend-mode: overlay;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body .main-wrapper {
    height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  body .main-wrapper {
    height: 95vh;
  }
}

body .main-wrapper .header {
  height: 150px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header {
    height: 80px;
    border-bottom: 1px solid #706e6d;
  }
}

@media screen and (max-width: 768px) {
  body .main-wrapper .header {
    border: none;
  }
}

body .main-wrapper .header.sticky {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header.sticky {
    background-color: transparent;
    position: relative;
  }
}

body .main-wrapper .header.sticky nav .dropdown a {
  background-color: #b3a9dc;
}

body .main-wrapper .header .mobile-logo {
  display: none;
}

@media screen and (max-width: 768px) {
  body .main-wrapper .header .mobile-logo {
    height: 100px;
    background-color: #611b4b;
    border-radius: 7px 0px 100px 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  body .main-wrapper .header .mobile-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

body .main-wrapper .header .logo-link {
  position: absolute;
  top: 0;
  left: 20px;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header .logo-link {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

@media screen and (max-width: 768px) {
  body .main-wrapper .header .logo-link {
    display: none;
  }
}

body .main-wrapper .header .logo-link img {
  height: 150px;
}

body .main-wrapper .header .search-wrapper {
  border-radius: 10px;
  margin: 26px 0 0;
}

body .main-wrapper .header .search-wrapper .search {
  position: relative;
}

@media screen and (max-width: 768px) {
  body .main-wrapper .header .search-wrapper .search {
    display: none;
  }
}

body .main-wrapper .header .search-wrapper .search input {
  border: none;
  outline: none;
  padding: 8px 40px;
  border-radius: 5px;
}

body .main-wrapper .header .search-wrapper .search input::-webkit-input-placeholder {
  color: #e5e5e5;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

body .main-wrapper .header .search-wrapper .search input:-ms-input-placeholder {
  color: #e5e5e5;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

body .main-wrapper .header .search-wrapper .search input::-ms-input-placeholder {
  color: #e5e5e5;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

body .main-wrapper .header .search-wrapper .search input::placeholder {
  color: #e5e5e5;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}

body .main-wrapper .header .search-wrapper .search .material-icons {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

body .main-wrapper .header .search-wrapper .text1 {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header .search-wrapper .text1 {
    display: none;
  }
}

body .main-wrapper .header .search-wrapper .hamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header .search-wrapper .hamburger {
    display: block;
  }
}

body .main-wrapper .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #706e6d;
  border-bottom: 1px solid #706e6d;
  padding-left: 150px;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .header nav {
    display: none;
  }
}

body .main-wrapper .header nav .lists {
  list-style: none;
}

body .main-wrapper .header nav .lists .list-item {
  margin-left: 20px;
}

body .main-wrapper .header nav .lists .list-item .dropdown {
  position: relative;
  display: inline-block;
}

body .main-wrapper .header nav .lists .list-item .dropdown a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

body .main-wrapper .header nav .nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #0088a4;
  padding: 15px 10px;
}

body .main-wrapper .hero-text {
  width: 50%;
  margin: 100px 150px;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .hero-text {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body .main-wrapper .hero-text {
    margin: 120px 20px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  body .main-wrapper .hero-text {
    text-align: center;
  }
}

body .main-wrapper .hero-text .hero-title {
  color: #fff;
  font-weight: 300;
  font-size: 2.6rem;
  letter-spacing: 2px;
}

body .main-wrapper .hero-text .hero-title span {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  body .main-wrapper .hero-text .hero-title {
    font-size: 2rem;
  }
}

body .main-wrapper .hero-text .hero-info {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  body .main-wrapper .hero-text .hero-info {
    font-size: 1.3rem;
  }
}

body .main-wrapper .hero-text .apply-link {
  text-decoration: none;
  color: #fff;
  background-color: #0081a3;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  body .main-wrapper .hero-text .apply-link {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  body .main-wrapper .hero-text .apply-link {
    padding: 15px 20px;
    font-size: 1rem;
    width: 45%;
    margin-left: 100px;
  }
}

body .find-wrapper {
  background-color: #631b4b;
  position: relative;
}

body .find-wrapper .arrow-down-icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #631b4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  body .find-wrapper .arrow-down-icon {
    left: 45%;
  }
}

body .find-wrapper .arrow-down-icon svg {
  fill: white;
  width: 100%;
  height: 100%;
}

body .find-wrapper .input-wrapper {
  position: relative;
  z-index: 1;
}

body .find-wrapper .input-wrapper .text {
  color: #fff;
  font-size: 1.5rem;
  background-color: #0088a4;
  padding: 20px 80px;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  body .find-wrapper .input-wrapper .text {
    font-size: 1.2rem;
    padding: 15px 40px;
  }
}

body .find-wrapper .input-wrapper .text span {
  font-weight: 600;
}

body .find-wrapper .input-wrapper .search {
  position: relative;
  top: -15px;
}

@media screen and (max-width: 600px) {
  body .find-wrapper .input-wrapper .search {
    left: 10px;
  }
}

body .find-wrapper .input-wrapper .search input {
  border: none;
  outline: none;
  padding: 30px 150px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  body .find-wrapper .input-wrapper .search input {
    padding: 20px 60px;
  }
}

body .find-wrapper .input-wrapper .search input::-webkit-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #0088a4;
          text-decoration-color: #0088a4;
}

body .find-wrapper .input-wrapper .search input:-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: #0088a4;
}

body .find-wrapper .input-wrapper .search input::-ms-input-placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: #0088a4;
}

body .find-wrapper .input-wrapper .search input::placeholder {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #0088a4;
          text-decoration-color: #0088a4;
}

body .find-wrapper .input-wrapper .search .material-icons {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  background-color: #0081a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 600px) {
  body .find-wrapper .input-wrapper .search .material-icons {
    font-size: 3rem;
    width: 68px;
    height: 68px;
  }
}

body .find-wrapper .heart-shape {
  position: absolute;
  top: 10px;
  right: 250px;
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 768px) {
  body .find-wrapper .heart-shape {
    right: 80px;
  }
}

body .text-wrapper {
  width: 70%;
}

@media screen and (max-width: 768px) {
  body .text-wrapper {
    width: 100%;
  }
}

body .text-wrapper h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

body .text-wrapper h4 span {
  font-weight: 700;
}

body .text-wrapper p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.5;
}

body .text-wrapper p span {
  text-decoration: underline;
  -webkit-text-decoration-color: #631b4b;
          text-decoration-color: #631b4b;
}

body .hero-wrapper {
  background: url("https://www.homeinstead.com/contentassets/3541d25b92294957bf3f6f2fe858dce9/questions-to-ask-home-care-providers.jpg") no-repeat #3b3b3b;
  background-blend-mode: overlay;
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: relative;
}

body .hero-wrapper .hero-text {
  width: 70%;
  padding: 150px 150px;
}

@media screen and (max-width: 1200px) {
  body .hero-wrapper .hero-text {
    width: 100%;
    padding: 200px 150px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) {
  body .hero-wrapper .hero-text {
    padding: 150px 30px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 600px) {
  body .hero-wrapper .hero-text {
    text-align: center;
  }
}

body .hero-wrapper .hero-text .hero-title {
  color: #fff;
  font-weight: 300;
  font-size: 2.7rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 600px) {
  body .hero-wrapper .hero-text .hero-title {
    font-size: 2rem;
  }
}

body .hero-wrapper .hero-text .hero-title span {
  font-weight: 600;
}

body .hero-wrapper .hero-text .hero-info {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  body .hero-wrapper .hero-text .hero-info {
    font-size: 1.3rem;
  }
}

body .hero-wrapper .hero-text .apply-link {
  text-decoration: none;
  color: #fff;
  background-color: #0081a3;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  letter-spacing: 1px;
}

@media screen and (max-width: 600px) {
  body .hero-wrapper .hero-text .apply-link {
    padding: 15px 20px;
    font-size: 1rem;
    width: 60%;
    margin: 100px 80px;
  }
}

body .hero-wrapper .arrow-down-icon {
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0088a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  body .hero-wrapper .arrow-down-icon {
    left: 45%;
  }
}

body .hero-wrapper .arrow-down-icon svg {
  fill: white;
  width: 100%;
  height: 100%;
}

body .news-wrapper {
  padding: 5em 5em;
}

@media screen and (max-width: 768px) {
  body .news-wrapper {
    padding: 5em 1em;
  }
}

@media screen and (max-width: 768px) {
  body .news-wrapper .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .news-wrapper .row .flex-item {
  width: 45%;
}

@media screen and (max-width: 768px) {
  body .news-wrapper .row .flex-item:first-child {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 1200px) {
  body .news-wrapper .row .flex-item {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  body .news-wrapper .row .flex-item {
    width: 100%;
  }
}

body .news-wrapper .row .flex-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  body .news-wrapper .row .flex-item img {
    width: 300px;
    height: 100px;
  }
}

body .news-wrapper .row .flex-item .news-info {
  font-size: 1.3rem;
  word-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  body .news-wrapper .row .flex-item .news-info {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  body .news-wrapper .row .flex-item .news-info {
    margin-top: 60px;
  }
}

body .news-wrapper .row .flex-item .news-info span {
  text-decoration: underline;
  -webkit-text-decoration-color: #631b4b;
          text-decoration-color: #631b4b;
}

body .news-wrapper .row .flex-item .news-btn {
  text-decoration: none;
  color: white;
  background-color: #611b4b;
  padding: 20px 60px;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5px;
}

body .quote-wrapper {
  background-color: #0088a4;
  text-align: center;
  padding: 100px 0;
}

body .quote-wrapper .Row {
  width: 66%;
}

@media screen and (max-width: 1200px) {
  body .quote-wrapper .Row {
    width: 90%;
  }
}

body .quote-wrapper .Row p {
  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  line-height: 1.5;
  color: #fff;
}

body .quote-wrapper .Row label {
  color: #fff;
}

body .quote-wrapper .Row label .text-bold {
  font-weight: 400;
  font-size: 1.5rem;
}

body .quote-wrapper .Row label .text-thin {
  font-size: 1rem;
}

body .slide-wrapper {
  background-color: #f5f5f5;
}

body .slide-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}

body .slide-wrapper .overflow-wrapper {
  border: 1px solid #b3a9dc;
}

body .slide-wrapper .overflow-wrapper .overflow-container {
  overflow-x: scroll;
  background-color: #ebe9f0;
}

body .slide-wrapper .overflow-wrapper .overflow-container::-webkit-scrollbar {
  height: 4px;
}

body .slide-wrapper .overflow-wrapper .overflow-container::-webkit-scrollbar-track {
  background-color: lightgrey;
  width: 4px;
}

body .slide-wrapper .overflow-wrapper .overflow-container::-webkit-scrollbar-thumb {
  background-color: #6c5da5;
}

body .slide-wrapper .overflow-wrapper .overflow-container .item-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
}

body .slide-wrapper .overflow-wrapper .overflow-container .item-wrapper .item {
  position: relative;
  width: 300px;
  margin-right: 20px;
}

body .slide-wrapper .overflow-wrapper .overflow-container .item-wrapper .item p {
  margin-top: 20px;
}

body .slide-wrapper .overflow-wrapper .overflow-container .item-wrapper .item div {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 4px 6px 4px -182px white;
          box-shadow: 4px 6px 4px -182px white;
  border-radius: 8px;
  color: #545353;
  font-weight: 300;
  font-size: 1.1rem;
}

body .slide-wrapper .overflow-wrapper .overflow-container .item-wrapper .item div::after {
  content: "";
  width: 35px;
  height: 35px;
  -webkit-clip-path: polygon(8% 28%, 9% 80%, 99% 29%);
          clip-path: polygon(8% 28%, 9% 80%, 99% 29%);
  background-color: #fff;
  position: absolute;
  top: 140px;
  left: 15px;
}

body .slide-wrapper .message-of-thanks {
  background-color: #fff;
}

body .slide-wrapper .message-of-thanks div span {
  color: #7c7979;
}

@media screen and (max-width: 600px) {
  body .slide-wrapper .message-of-thanks div span {
    display: none;
  }
}

body .slide-wrapper .message-of-thanks div span a {
  color: #6c5da5;
  font-weight: 500;
}

body .slide-wrapper .message-of-thanks .message-link {
  text-decoration: none;
  color: #fff;
  background-color: #6c5da5;
  padding: 10px 10px;
  border-radius: 8px;
  font-weight: 500;
}

body .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 150px 0;
}

@media screen and (max-width: 1200px) {
  body .flex-wrapper {
    display: none;
  }
}

body .flex-wrapper .wrapper {
  background-color: #fafafb;
  padding: 20px;
}

body .flex-wrapper .wrapper a {
  width: 330px;
  text-decoration: none;
  color: #fff;
  background-color: #611b4b;
}

@media screen and (max-width: 1200px) {
  body .flex-wrapper .wrapper a {
    width: 500px;
    margin-right: 30px;
  }
}

body .flex-wrapper .wrapper a:hover {
  -webkit-transform: translate3d(0px, 3px, 3px);
          transform: translate3d(0px, 3px, 3px);
}

body .flex-wrapper .wrapper a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .flex-wrapper .wrapper a h5 {
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 20px;
}

body .flex-wrapper .services-link {
  text-decoration: none;
  color: #611b4b;
  border: 1px solid #611b4b;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 70px;
  border-radius: 5px;
}

body .flex-wrapper2 {
  display: none;
  padding: 150px 0 70px;
}

@media screen and (max-width: 1200px) {
  body .flex-wrapper2 {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body .flex-wrapper2 {
    padding: 150px 0 40px;
  }
}

@media screen and (max-width: 768px) {
  body .flex-wrapper2 .swiper {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  body .flex-wrapper2 .swiper {
    margin-bottom: 30px;
  }
}

body .flex-wrapper2 .swiper .wrapper {
  background-color: #fafafb;
}

body .flex-wrapper2 .swiper .wrapper .swiper-button-next {
  color: black;
}

body .flex-wrapper2 .swiper .wrapper a {
  width: 200px;
  text-decoration: none;
  color: #fff;
  background-color: #611b4b;
}

@media screen and (max-width: 1200px) {
  body .flex-wrapper2 .swiper .wrapper a {
    width: 200px;
    margin-right: 20px;
  }
}

body .flex-wrapper2 .swiper .wrapper a:hover {
  -webkit-transform: translate3d(0px, 3px, 3px);
          transform: translate3d(0px, 3px, 3px);
}

body .flex-wrapper2 .swiper .wrapper a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .flex-wrapper2 .swiper .wrapper a h5 {
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 20px;
}

body .flex-wrapper2 .services-link {
  text-decoration: none;
  color: #611b4b;
  border: 1px solid #611b4b;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 70px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  body .flex-wrapper2 .services-link {
    margin-left: 350px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  body .flex-wrapper2 .services-link {
    margin-left: 200px;
  }
}

@media screen and (max-width: 600px) {
  body .flex-wrapper2 .services-link {
    margin-left: 80px;
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}

@media screen and (max-width: 768px) {
  body .slider-container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .slider-container .row .slideshow-container {
  height: 450px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  margin: auto;
  -webkit-box-shadow: 2px 2px 2px #d7d6d6;
          box-shadow: 2px 2px 2px #d7d6d6;
}

@media screen and (max-width: 600px) {
  body .slider-container .row .slideshow-container {
    height: 300px;
  }
}

body .slider-container .row .swiper-slide {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .slider-container .row h5 {
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  body .slider-container .row h5 {
    margin-top: 50px;
  }
}

body .slider-container .row h5 span {
  font-weight: 600;
}

body .slider-container .row .small-text {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
  body .slider-container .row .small-text {
    font-size: 1.2rem;
  }
}

body .slider-container .row .ms-2 h6 {
  font-size: 1.5rem;
  color: #671E45;
  font-weight: 600;
}

body .slider-container .row .ms-2 p {
  color: #434343;
  line-height: 1.5;
}

body .slider-container .row .ms-2 a {
  color: black;
  letter-spacing: 1px;
}

body .slider-container .row .slide-image {
  width: 50%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 600px) {
  body .slider-container .row .slide-image {
    display: none;
  }
}

body .slider-container .row .service-link1 {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 70px;
  border-radius: 5px;
  margin-left: 200px;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  body .slider-container .row .service-link1 {
    margin-top: 50px;
    font-size: 1.2rem;
    padding: 15px 50px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 768px) {
  body .slider-container .row .service-link1 {
    margin-left: 250px;
  }
}

@media screen and (max-width: 600px) {
  body .slider-container .row .service-link1 {
    margin-left: 100px;
  }
}

body .slider-container .row .service-link2 {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 70px;
  border-radius: 5px;
  margin-left: 200px;
}

@media screen and (max-width: 1200px) {
  body .slider-container .row .service-link2 {
    margin-top: 50px;
    font-size: 1.2rem;
    padding: 15px 50px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 768px) {
  body .slider-container .row .service-link2 {
    margin-left: 250px;
  }
}

@media screen and (max-width: 600px) {
  body .slider-container .row .service-link2 {
    margin-left: 100px;
  }
}

body .footer {
  background-color: #434343;
  margin-top: 100px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body .footer {
    margin-bottom: 100px;
  }
}

body .footer .row {
  padding: 50px 150px;
  border-bottom: 1px solid #727171;
}

@media screen and (max-width: 768px) {
  body .footer .row {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 768px) {
  body .footer .row .col-md:not(.contact) {
    display: none;
  }
}

body .footer .row .col-md h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

body .footer .row .col-md ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

body .footer .row .col-md ul li {
  margin: 15px 0;
  color: #efe6e6;
}

body .footer .row .col-md ul li a {
  color: #efe6e6;
  text-decoration: none;
  font-size: 0.85rem;
}

body .footer .row .col-md ul li a:hover {
  text-decoration: underline;
}

body .footer .foot {
  color: #efe6e6;
}

@media screen and (max-width: 768px) {
  body .footer .foot {
    padding: 10px 0;
    text-align: center;
  }
}

body .bottom-link {
  display: none;
  position: fixed;
  bottom: 0;
  right: 12px;
  color: white;
  text-decoration: none;
  background-color: #611b4b;
  padding: 15px 40px;
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  body .bottom-link {
    display: none;
  }
}

body .bottom-link:hover {
  background-color: #390505;
}

body .bottom-section {
  color: white;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  body .bottom-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .bottom-section .bottom-head {
  background-color: black;
  margin: 0;
}

body .bottom-section .span-wrapper span {
  width: 50%;
}

body .bottom-section .span-wrapper span:first-child {
  background-color: #0088a4;
}

body .bottom-section .span-wrapper span:first-child svg {
  fill: white;
}

body .bottom-section .span-wrapper span:last-child {
  background-color: #631b4b;
}

body .bottom-section .span-wrapper span:last-child svg {
  fill: white;
}

body .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

body .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body .dropdown-content a:hover {
  background-color: #ddd;
}

body .dropdown:hover .dropdown-content {
  display: block;
}

body .dropdown:hover .dropbtn {
  cursor: pointer;
}

body .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

body .active {
  background-color: #717171;
}
/*# sourceMappingURL=style.css.map */